<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular App</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-8">
        {{title}} <br>
        <app-usermanagment></app-usermanagment>
        {{title}} 
        <app-event></app-event>
       <app-template-reference-variable></app-template-reference-variable>
      </div>
    </div>
  </div>
</body>
</html>