<p>event works!</p>
<p>{{title}}</p>
<h1>{{myEvent()}}</h1>
<button (click) = "my_function()">Click on this button to check Evnet Handler</button><br><br>
<button (click) = "myfunction()">to Perform the Event in Console</button><br><br>
<button (click) = "mynamefunction()">To Initializing a Property through Evnet Handlers</button><br><br>
<p>This is a Hidden Property which is initializing after click this event :</p>
<p>{{name}}</p>
<br><br>
<button (dblclick) = "argumentfunc('Izhan')">Return the Argument given by the user on Double click</button><br><br>
<button (mouseover) = "argumentfunc('Izhan')">Return the Argument given by the user on Mouse Over</button><br><br>
<br><br>
<button (mouseout) = "argumentfunc('Izhan')">Return the Argument given by the user on Mouse Out</button><br><br>
<button (mouseout) = "twoargumentfunc('Izhan',24)">Two Argument Function by the user</button><br><br>